.message {
    display: flex;
    background-color: #bbe865;
    align-items: flex-end;
    padding: 5px;

}


.image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #737373;

}

.text_field {
/*    width: 200px;
    height: 75%;*/
    border: 1px solid #919191;
    /*border-radius: 5px 5px 5px 0;*/
    border-radius: 5px;
    margin-left: 10px;
    background-color: #3d9364;
    padding: 10px;
    font-size: 14px;
}

/*.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, #3d9364 0);
}*/

.name {
    color: #b892f8;
}

.text {
    color: white;
    /*word-wrap: ;*/
}

.time {
    padding-right: 0px;
    color: #abaaaa;
    float: right;
}