.blue {
    border-bottom: 15px solid #a2051d;
    background: black;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testSpanError {
    background: rgb(198 193 193 / 53%);
    border: 1px solid rgba(255, 0, 0, 0.65);
    border-radius: 4px;
    font-size: 11px;
    padding: 5px;
    font-weight: bold;
}

